@import "./variables";

/* Small screens*/
@media (max-width: 767.98px) {

    .bm-item {
      display: inline-block;
      //  /* Our sidebar item styling */
      text-decoration: none;
      margin-bottom: 20px;
      color: $menu-color;
      font-size: 30px;
      font-family: Dialog;
      font-weight: bolder;
      transition: color 0.2s;
    }

    /* Change color on hover */
    .bm-item:hover {
      color: #f8f8f5;
    }

    /* The rest copied directly from react-burger-menu docs */

    /* Position and sizing of burger button */
    .bm-burger-button {

      position: fixed;
      width: 36px;
      height: 30px;
      right: 36px;
      top: 30px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: #8ff8db;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
      background: #878785;
    }

    /* General sidebar styles */
    .bm-menu {
      background: #bebfbf;
      padding: 2.5em 1.5em 0;
      font-size: 1.15em;
      width: 150%;
    }

    /* Morph shape necessary with bubble or elastic */
    //.bm-morph-shape {
    //  fill: #373a47;
    //}

    /* Wrapper for item list */
    .bm-item-list {
      color: #b8b7ad;
    }

    /* Styling of overlay */
    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);

    }

  }

@media (min-width: 768px) {
  .bm-burger-button{
    display: none;
  }

}
