@import "./variables";

/* Small screens*/
@media (max-width: 767.98px) {


    li {
      display: none;
    }

    .joke-box {
      padding: 30px;
      text-align: center;
      color: #f3e3e9;
    }

    .joke-btn {
      margin-left: 50px;
      padding: 5px;
      border-radius: 10px;
      background-color: $menu-color;
    }

    .joke-btn:hover {
      background-color: #f3e3e9;
    }
  }

  //desktop

  @media (min-width: 768px) {

    main {
      display: block;
      margin-bottom: 100px;
      background-image: url("../components/images/mountain.jpg");
      background-size: contain;
      width: 100%;
      height: 100vh;
    }

      .joke-box {
        display: none;
      }


      .joke-btn {
        display: none;
      }
    }


