

//desktop
@media (min-width: 768px) {
  .story-container {

    .profession {
      display: flex;
      padding: 50px 50px;


      .image-box {
        object-fit: cover;
        width: 50%;

        img {
          display: block;
          width: 100%;

        }
      }


      .story-box {
        margin-left: 50px;
        width: 50%;
        background-color: #70c5f3;
        padding-left: 50px;
        padding-right: 50px;
        border: 5px solid white;

        h2 {
          color: #5a5a57;
          margin-bottom: 50px;
          font-size: 2rem;
          font-family: "Ubuntu Mono";
        }

        p {
          font-size: 20px;
        }


      }
    }
  }
}



//small screen

@media (max-width: 767.98px) {

  .profession {
    display: flex;
    flex-wrap: wrap;


    .image-box {
      padding-top: 20px;
      margin: 0 auto;
      object-fit: cover;
      width: 50%;

      img {
        display: block;
        width: 100%;

      }
    }
  }
}
  .story-box {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    border-bottom: 5px solid white;

    h2{
      color: #faa640;
    }

    p{
      color: #f3e3e9;
      font-family: DialogInput;
    }


  }
