@import "./variables";

.notfound-box{
  text-align: center;


  h1{
    padding: 100px;
    color: red;
    background-color: #f3e3e9;
  }

  a{
    font-size: 2rem;
    color: $menu-color;
    text-decoration: none;
    padding-top: 20px;
  }
  a:hover {
    color: #f3e3e9;

  }
}