//desktop
@media (min-width: 768px) {

  .camps-form {
    padding: 50px;

    label {
      color: #faa640;
      padding-right: 20px;
      font-size: 1.5rem;
    }

    select {
      padding: 10px 50px;
      border-radius: 10px;
      font-weight: bolder;
    }

    select:hover {
      background-color: #faa640;;
    }

    .btn-camps {
      padding: 10px 50px;
      font-weight: bolder;
      margin-left: 20px;
      border-radius: 10px;

    }

    .btn-camps:hover {
      background-color: #faa640;;
    }

  }

  .camps-container {

    display: flex;
    width: 80%;
    margin: 50px;
    background-color: #f3e3e9;
    object-fit: cover;

    .camps-box {
      padding: 50px;

      h2 {
        padding: 30px;
        color: #6f6f6e;
      }

      p:first-of-type {
        padding: 30px;
        color: red;
        text-decoration: underline;
        font-weight: bolder;
      }

      p:last-of-type {
        padding: 30px;
      }
    }

    img {
      width: 50%;
    }
  }
}

/* Small screens*/
@media (max-width: 767.98px) {

  .camps-form {
    padding: 50px;

    label {
      color: #faa640;
      padding-right: 20px;
      font-size: 1.5rem;
    }

    select {
      padding: 10px 50px;
      border-radius: 10px;
      font-weight: bolder;
    }

    select:hover {
      background-color: #faa640;;
    }

    .btn-camps {
      padding: 10px 50px;
      font-weight: bolder;
      margin-left: 20px;
      border-radius: 10px;

    }

    .btn-camps:hover {
      background-color: #faa640;;
    }

  }

  .camps-container {

    flex-wrap: wrap;
    width: 80%;
    margin: 50px;
    background-color: #f3e3e9;


    .camps-box {
      padding: 50px;

      h2 {
        padding: 30px;
        color: #6f6f6e;
      }

      p:first-of-type {
        padding: 20px;
        color: red;
        text-decoration: underline;
        font-weight: bolder;
      }

      p:last-of-type {
        padding: 30px;
      }
    }

    img {
      width: 100%;
    }
  }
}