


/* Small screens*/
@media (max-width: 767.98px) {
.slide-container {

  .each-slide1 {
      margin: 0 auto;
      height: 50vh;
      width: 80%;
      background-image: url("../components/images/slide_2.jpg");
      background-size: cover;
      background-repeat: no-repeat;

    }
    .each-slide2 {
      margin: 0 auto;
      height: 50vh;
      width: 80%;
      background-image: url("../components/images/slide_3.jpg");
      background-size: cover;
      background-repeat: no-repeat;


    }
    .each-slide3 {
      margin: 0 auto;
      height: 50vh;
      width: 80%;
      background-image: url("../components/images/slide_4.jpg");
      background-size: cover;
      background-repeat: no-repeat;


    }
    .each-slide4 {
      margin: 0 auto;
      height: 50vh;
      width: 80%;
      background-image: url("../components/images/slide_1.jpg");
      background-size: cover;
      background-repeat: no-repeat;


    }
    .each-slide5 {
      margin: 0 auto;
      height: 50vh;
      width: 80%;
      background-image: url("../components/images/slide_5.jpg");
      background-size: cover;
      background-repeat: no-repeat;


    }
  }
}

//desktop

@media (min-width: 768px) {

  .slide-container {
margin-bottom: 20px;
    margin-top: -20px;
    .each-slide1 {
      margin: 0 auto;
      height: 70vh;
      width: 80vw;
      background-image: url("../components/images/slide_2.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

    }

    .each-slide2 {
      margin: 0 auto;
      height: 70vh;
      width: 80vw;
      background-image: url("../components/images/slide_3.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;


    }

    .each-slide3 {
      margin: 0 auto;
      height: 70vh;
      width: 80vw;
      background-image: url("../components/images/slide_4.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;


    }

    .each-slide4 {
      margin: 0 auto;
      height: 70vh;
      width: 80vw;
      background-image: url("../components/images/slide_1.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;


    }

    .each-slide5 {
      margin: 0 auto;
      height: 70vh;
      width: 80vw;
      background-image: url("../components/images/slide_5.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;


    }
  }
}
