@import "./variables";


/* Small screens*/
@media (max-width: 767.98px) {
.slide-container {
margin-top: 100px;
  .each-slide1 {
    @include slideMobile;
    background-image: url("../components/images/slide_2.jpg");
    }

    .each-slide2 {
      @include slideMobile;
      background-image: url("../components/images/slide_3.jpg");
    }

    .each-slide3 {
      @include slideMobile;
      background-image: url("../components/images/slide_4.jpg");
    }

    .each-slide4 {
      @include slideMobile;
      background-image: url("../components/images/slide_1.jpg");
    }

    .each-slide5 {
      @include slideMobile;
      background-image: url("../components/images/slide_5.jpg");
    }
  }
}

//desktop

@media (min-width: 768px) {

  .slide-container {
    display: none;
    .each-slide1 {
      @include slideDesktop;
      background-image: url("../components/images/slide_2.jpg");
    }

    .each-slide2 {
      @include slideDesktop;
      background-image: url("../components/images/slide_3.jpg");
    }

    .each-slide3 {
      @include slideDesktop;
      background-image: url("../components/images/slide_4.jpg");
    }

    .each-slide4 {
      @include slideDesktop;
      background-image: url("../components/images/slide_1.jpg");
    }

    .each-slide5 {
      @include slideDesktop;
      background-image: url("../components/images/slide_5.jpg");
    }
  }
}
