
$menu-color: #faa640;

@mixin slideDesktop(){
  margin: 0 auto;
  height: 70vh;
  width: 80vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin slideMobile () {
  margin: 0 auto;
  height: 50vh;
  width: 80%;
  background-size: cover;
  background-repeat: no-repeat;
}

