@import "../../styles/variables";

//small screen
@media (max-width: 767.98px) {

  h2:first-of-type {
    color: whitesmoke;
    font-size: 2rem;
  }
  section {
    background-color:$h1-color;
    width: 100%;

    .profession {
      display: flex;
      flex-wrap: wrap;

      .image-box {
        padding-top: 20px;
        margin: 0 auto;
        object-fit: cover;
        width: 50%;

        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
  .story-box {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    border-bottom: 5px solid $white-color;

    h2 {
      color: $h1-color;
    }

    p {
      color: $white-color;
      font-family: DialogInput;
    }
  }
}


  //desktop
  @media (min-width: 768px) {
    h2:first-of-type {
      color: whitesmoke;
      font-size: 2rem;
    }
    section {
      background-color: $h1-color;
      width: 100%;

      .profession {
        display: flex;
        padding: 50px 50px;

        .image-box {
          object-fit: cover;
          width: 50%;

          img {
            display: block;
            width: 100%;
          }
        }

        .story-box {
          color:$white-color;
          margin-left: 50px;
          width: 50%;
          background-color:$header-background;
          padding-left: 50px;
          padding-right: 50px;
          border: 5px solid $white-color;

          h2 {
            color: $h1-color;
            margin-bottom: 50px;
            font-size: 2rem;
          }

          p {
            font-size: 20px;
          }
        }
      }
    }
  }






