@import "../../styles/variables";



///* Small screens*/
@media (max-width: 767.98px) {
  header {
    display: flex;
    justify-content: space-between;
    background-color: $header-background;
    list-style: none;
    font-weight: bold;
    letter-spacing: 1px;
    border-left: 5px solid whitesmoke;
    border-top: 5px solid whitesmoke;
    margin-bottom: 50px;


    .navigation {
      display: flex;
      list-style: none;
    }

    a {
      display: flex;
      list-style: none;
      color: whitesmoke;
      text-decoration: none;

    }

    a:hover {
      transform: scale(1.5, 1.5);
    }

    h1:hover {
      color: #f3e3e9;
    }

    h1 {
      background-image: url("../images/kite-surf.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 50px;
      padding-bottom: 50px;
      color: $h1-color;
      font-size: 1.7rem;
      animation-name: rotate;
      animation-duration: 1s;
      animation-delay: 1s;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

//desktop
@media (min-width: 768px) {

  header {
    display: flex;
    justify-content: space-between;
    background-color: $header-background;
    list-style: none;
    font-weight: bold;
    letter-spacing: 2px;
    border-left: 5px solid whitesmoke;
    border-top: 5px solid whitesmoke;
    margin-bottom: 50px;


    .navigation {
      display: flex;
      list-style: none;
    }

    a {
      display: flex;
      list-style: none;
      color: $menu-color;
      text-decoration: none;
      padding: 10px;
    }

    a:hover {
      transform: scale(1.5, 1.5);
    }

    h1:hover {
      color: #f3e3e9;
    }

    h1 {
      background-image: url("../images/kite-surf.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 50px;
      padding-bottom: 50px;
      color: $h1-color;
      font-size: 3rem;
      animation-name: rotate;
      animation-duration: 1s;
      animation-delay: 1s;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }

    }
  }
}

